/* .AuthorAnalysis {
    height: 100%;
}

.AuthorAnalysis .chart-container {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: auto;
}

.AuthorAnalysis .author-chart {
    width: 100%;
    height: 100%;
} */